.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}
.container__left{
    background-color: green;
    width: 50%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.resizer{
    height: 200px;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 0 0 4px #afafaf;
    width: 2px;
    cursor: move;
    

}
.container__right{
    background-color: orange;
    width: 50%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}